
.container{
	width:100%;
}

#the-cats{
	width:50%;
	margin:0px auto;
	padding:20px 20px;
	background-color: #E7E4E4;
	box-shadow: 0px 5px 10px #b7aeae;
}
.post{
	color:#FF734D;
	font-family: "Arial";
	padding-bottom: 20px;

}
.post img{
	border-radius: 5px
}
.up{
	position:fixed;
	font-size: 50px;
	color:black;
	text-decoration: none;
	font-weight: bold;

}
